body{  background: #F5F1E3;}
h1{
  text-align: center;
}
fieldset{
  text-align: left;
  box-sizing: border-box;
}
section{
    margin: 5%;
    text-align: center;
}
.absence{
  background: #F5F1E3;
  color: #173753;
}
.option{
  display: flex;
  flex-direction: row;
}

label{
  display: block;
  margin: auto;
}
input[type="text"],input[type="email"]{
  margin: .5em;
  width:90%;
}
input:focus{
  background-color: #F2F3D9;
}
input:active{
  background-color: #BCF8EC;
}
