body{

  background: #4C5C68;
}
.AScare{
  margin-top: 15px;
  background: #9FC2CC;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
}
img{
  width: 300px;
  float: right;
  display: inline-block;
}
article{
  display: block;
  padding: 10px;
}
