.event {
  background-color: #e0e2e5;
  padding: 20px;
  margin-top: 30px;
}

.event_heading {
  text-align: center;
}

/*set .container as flex, so the card will display in different line as screen size change*/

.event_container {
  display: flex;
  flex-direction: column;
}

/*set fixed card width and other card properties*/

.event_item {
  width: 350px;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 50px;
}

/*set the media area ratio as 16:9 and to hide the overflow parts when hover on card*/

.event_image {
  height: 197px;
  overflow: hidden;
}

/*make the image inherit the width and height of its parent-'.cardImage'*/

.event_image>img {
  /*overflow: hidden;*/
  max-width: 100%;
}

/*when hover on card, the height of '.cardImage' will reduce, so that cardBody will move up*/

.event_content {
  position: relative;
  height: 110px;
}

.event_title {
  font-size: 24px;
  padding: 24px 16px 16px 16px;
}

/*style of primary text*/

.event_date {
  font-size: 14px;
  padding: 0 16px 16px 16px;
}

/*style of supporting text and hide it using opacity:0*/

.event_description {
  position: absolute;
  font-size: 14px;
  line-height: 28px;
  color: #666C74;
  padding: 16px 16px 24px 16px;
  opacity: 0;
}

.event_item:hover .event_content {
  height: 275px;
}

/*zoom in image when hover on card*/

.event_item:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*reduce the cardImage area,so the image will be hidden*/

.event_item:hover .event_image {
  height: 90px;
}

/*animation of cardTitle when hover*/

.event_item:hover .event_date {
  -webkit-animation: titleBlur 2s;
  animation: titleBlur 2s;
}

/*unhide the supporting text*/

.event_item:hover .event_description {
  opacity: 1;
}

.event_action {
  padding: 8px;
}

/*style of action button*/

.event_btn {
  display: inline-block;
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  background-color: #122f5b;
  border: 2px solid #0a2651;
  border-radius: 50px;
  outline: 0;
  text-transform: uppercase;
  transition: all 1s;
}

.event_btn:hover {
  color: #122f5b;
  box-shadow: none;
  background-color: transparent;
}

/*self-defined animation*/

@-webkit-keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px transparent;
  }
}

@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px transparent;
  }
}

/*media queries*/

@media all and (min-width:500px) {
  .event_container {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
