#tph1 {
  box-sizing: border-box;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 2px;
  background: #F4F5F3;
  text-align: center;
}

.all {
  display: inline-block;
  position: relative;
}

.gallery {
  display: inline-block;
  width: 310px;
  height: 300px;
  margin: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  background: #F6E8AC;
  border-radius: 2px;
}

.photo {
  width: 310px;
  height: 250px;
  border-radius: 2px 2px 0 0;
}

.desc {
  color: #1D1D36;
  font-size: 16px;
  padding: 10PX;
}