body {
  width: auto;
  height: auto;
  background-color: #F3F1F0;
}

/* 2:30*/

header {
  width: auto;
  height: auto;
  color: black;
  z-index: 70;
}

main {
  z-index: -70;
  margin-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  box-sizing: content-box;
}

h1 {
  text-align: center;
  padding-top: 6px;
}

h2 {
  padding-top: 5px;
  padding-left: 5px;
}

h3 {
  padding-top: 5px;
  padding-left: 5px;
}

p {
  font-size: 14px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  line-height: 20px;
}2

article {
  background-color: #F97557;
  opacity: .8;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

aside {
  padding: 4px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #3AE0A0;
  opacity: 0.8;
}

.picture {
  width: 40%;
  height: 300px;
}

.filebox {
  box-sizing: border-box;
  position: relative;
}

.file {
  display: inline-block;
  padding: 5px;
  margin: 12px;
  background-color: #A89B9D;
  width: 100px;
  height: 100px;
}

input {
  width: 40%;
}

footer p {
  font-size: 6px;
  background: black;
  opacity: 0.9;
}

iframe {
  margin: 40px;
  width: 600px;
  height: 650px;
}

/* ok  */

@media only screen and (max-width:1024px) {
  main {
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    box-sizing: content-box;
  }
  body {
    width: auto;
    height: auto;
    color: black;
    background-color: #F3F1F0;
  }
  header {
    width: auto;
    height: auto;
    color: black;
  }
  h1 {
    text-align: center;
    padding-top: 6px;
  }
  h2 {
    padding-top: 5px;
    padding-left: 5px;
  }
  h3 {
    padding-top: 5px;
    padding-left: 5px;
  }
  p {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    line-height: 20px;
  }
  section {
    color: white;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #5AB266;
    opacity: .8;
  }
  article {
    background-color: #F97557;
    opacity: .8;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  aside {
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #3AE0A0;
    opacity: 0.8;
  }
  .picture {
    width: 95%;
    height: 300px;
  }
  .filebox {
    box-sizing: border-box;
    position: relative;
  }
  .file {
    display: inline-block;
    padding: 5px;
    margin: 12px;
    background-color: #A89B9D;
    width: 100px;
    height: 100px;
  }
  footer p {
    font-size: 6px;
    background: black;
    opacity: 0.9;
  }
  iframe {
    margin: 40px;
    width: 600px;
    height: 650px;
  }
}

/* ok  */

@media only screen and (max-width:860px) {
  body {
    width: auto;
    height: auto;
    color: black;
    background-color: #F3F1F0;
  }
  header {
    width: auto;
    height: auto;
    color: black;
  }
  main {
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    box-sizing: content-box;
  }
  h1 {
    text-align: center;
    padding-top: 6px;
  }
  h2 {
    padding-top: 5px;
    padding-left: 5px;
  }
  h3 {
    padding-top: 5px;
    padding-left: 5px;
  }
  p {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    line-height: 20px;
  }
  section {
    color: white;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #5AB266;
    opacity: .8;
  }
  article {
    background-color: #F97557;
    opacity: .8;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  aside {
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #3AE0A0;
    opacity: 0.8;
  }
  .picture {
    width: 95%;
    height: 300px;
  }
  .filebox {
    box-sizing: border-box;
    position: relative;
  }
  .file {
    display: inline-block;
    padding: 5px;
    margin: 12px;
    background-color: #A89B9D;
    width: 100px;
    height: 100px;
  }
  footer p {
    font-size: 6px;
    background: black;
    opacity: 0.9;
  }
  iframe {
    margin: 30px;
    width: 500px;
    height: 550px;
  }
}

/* ok  */

@media only screen and (max-width:768px) {
  body {
    width: auto;
    height: auto;
    color: black;
    background-color: #F3F1F0;
  }
  header {
    width: auto;
    height: auto;
    color: black;
  }
  main {
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    box-sizing: content-box;
  }
  h1 {
    text-align: center;
    padding-top: 6px;
  }
  h2 {
    padding-top: 5px;
    padding-left: 5px;
  }
  h3 {
    padding-top: 5px;
    padding-left: 5px;
  }
  p {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    line-height: 20px;
  }
  section {
    color: white;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #5AB266;
    opacity: .8;
  }
  article {
    background-color: #F97557;
    opacity: .8;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  aside {
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #3AE0A0;
    opacity: 0.8;
  }
  .picture {
    width: 95%;
    height: 300px;
  }
  .filebox {
    box-sizing: border-box;
    position: relative;
  }
  .file {
    display: inline-block;
    padding: 5px;
    margin: 12px;
    background-color: #A89B9D;
    width: 100px;
    height: 100px;
  }
  footer p {
    font-size: 6px;
    background: black;
    opacity: 0.9;
  }
  iframe {
    margin: 30px;
    width: 500px;
    height: 550px;
  }
}

/* ok  */

@media only screen and (max-width:650px) {
  body {
    width: auto;
    height: auto;
    color: black;
    background-color: #F3F1F0;
  }
  header {
    width: auto;
    height: auto;
    color: black;
  }
  main {
    box-sizing: content-box;
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
  }
  h1 {
    text-align: center;
    padding-top: 10px;
  }
  h2 {
    padding-top: 10px;
    padding-left: 10px;
  }
  h3 {
    padding: 10px;
    background-color: #01BAEF;
    color: #D0F2FC;
  }
  strong {
    color: #01BAEF;
  }
  p {
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 8px;
    line-height: 30px;
  }
  section {
    color: white;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 2px;
    background-color: #3AE0A0;
    opacity: .8;
  }
  article {
    background-color: #F97557;
    opacity: .8;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  aside {
    padding: 4px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #3AE0A0;
    opacity: 0.8;
  }
  .picture {
    width: 95%;
    height: 300px;
  }
  .filebox {
    box-sizing: border-box;
    position: relative;
  }
  .file {
    display: inline-block;
    padding: 5px;
    margin: 12px;
    background-color: #A89B9D;
    width: 100px;
    height: 100px;
  }
  footer p {
    padding-left: 5px;
    color: white;
    font-size: 10px;
    background-color: black;
  }
  iframe {
    margin: 20px;
    width: 350px;
    height: 450px;
  }
}

/*  */

@media only screen and (max-width:440px) {
  body {
    width: auto;
    height: auto;
    color: black;
    background-color: #F3F1F0;
  }
  header {
    width: auto;
    height: auto;
    color: black;
  }
  main {
    box-sizing: content-box;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
  }
  h1 {
    text-align: center;
    padding-top: 10px;
  }
  h2 {
    padding-top: 10px;
    padding-left: 10px;
  }
  h3 {
    padding: 10px;
    background-color: #01BAEF;
    color: #D0F2FC;
  }
  strong {
    color: #01BAEF;
  }
  p {
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 8px;
    line-height: 30px;
  }
  section {
    color: white;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 2px;
    background-color: #3AE0A0;
    opacity: .8;
  }
  article {
    background-color: #F97557;
    opacity: .8;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  aside {
    padding: 4px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #3AE0A0;
    opacity: 0.8;
  }
  .picture {
    width: 95%;
    height: 300px;
  }
  .filebox {
    box-sizing: border-box;
    position: relative;
  }
  .file {
    display: inline-block;
    padding: 5px;
    margin: 12px;
    background-color: #A89B9D;
    width: 100px;
    height: 100px;
  }
  footer p {
    padding-left: 5px;
    color: white;
    font-size: 10px;
    background-color: black;
  }
  iframe {
    width: 350px;
    height: 450px;
  }
}

/*     ok  */

@media only screen and (max-width:360px) {
  body {
    width: auto;
    height: auto;
    color: black;
    background-color: #F3F1F0;
  }
  header {
    width: auto;
    height: auto;
    color: black;
  }
  main {
    box-sizing: content-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 7%;
    padding-right: 7%;
    width: 86%;
  }
  h1 {
    text-align: center;
    padding-top: 6px;
  }
  h2 {
    padding-top: 5px;
    padding-left: 5px;
  }
  h3 {
    padding-top: 5px;
    padding-left: 5px;
  }
  p {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    line-height: 20px;
  }
  section {
    color: white;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #19323C;
    opacity: .8;
  }
  article {
    background-color: #34344A;
    color: white;
    opacity: .8;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  aside {
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #5C635F;
    opacity: 0.8;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .picture {
    width: 90%;
    height: 250px;
  }
  .filebox {
    box-sizing: border-box;
    position: relative;
  }
  .file {
    display: inline-block;
    padding: 5px;
    margin: 12px;
    background-color: #A89B9D;
    width: 100px;
    height: 100px;
  }
  footer p {
    padding-left: 5px;
    color: white;
    font-size: 10px;
    background-color: black;
  }
  iframe {
    width: 330px;
    height: 450px;
  }
}

/*     ok     */

@media only screen and (max-width:340px) {
  body {
    width: auto;
    height: auto;
    color: black;
    background-color: #F3F1F0;
  }
  header {
    width: auto;
    height: auto;
    color: black;
  }
  main {
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    box-sizing: content-box;
  }
  h1 {
    text-align: center;
    padding-top: 6px;
  }
  h2 {
    padding-top: 5px;
    padding-left: 5px;
  }
  h3 {
    padding-top: 5px;
    padding-left: 5px;
  }
  p {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    line-height: 20px;
  }
  .picture {
    width: 295px;
    height: 250px;
  }
  .filebox {
    box-sizing: border-box;
    position: relative;
  }
  .file {
    display: inline-block;
    margin: 12px;
    background-color: #A89B9D;
    width: 100px;
    height: 100px;
  }
  section {
    color: white;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #5AB266;
    opacity: .8;
  }
  aside {
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #3AE0A0;
    opacity: 0.8;
  }
  footer {
    padding-left: 5px;
    color: white;
    font-size: 10px;
    background-color: black;
  }
  iframe {
    width: 310px;
    height: 450px;
  }
}

/*    ok     */

@media only screen and (max-width:320px) {
  body {
    width: auto;
    height: auto;
    color: black;
    background-color: #F3F1F0;
  }
  header {
    width: auto;
    height: auto;
    color: black;
  }
  main {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
  }
  article {
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #3AE0A0;
    opacity: 0.8;
  }
  section {
    color: white;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #5AB266;
    opacity: .8;
  }
  .picture {
    width: 255px;
    height: 200px;
  }
  .filebox {
    box-sizing: border-box;
    position: relative;
  }
  .file {
    display: inline-block;
    margin: 12px;
    background-color: #A89B9D;
    width: 100px;
    height: 100px;
  }
  aside {
    color: white;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #279AF1;
    opacity: .5;
  }
  p {
    font-size: 11px;
    padding: inherit;
    line-height: 22px;
  }
  footer {
    padding-left: 5px;
    color: white;
    font-size: 10px;
    background-color: black;
  }
  #calendar {
    border: 1px;
    width: 275px;
    height: 450px;
    padding: 10px;
    scroll-behavior: smooth;
  }
  iframe {
    width: 300px;
    height: 350px;
  }
}
