@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #222;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header_info {
  background-color: #6d6c69;
  margin-top: 20px;
}

.page_heading {
  color: white;
  text-align: center;
  padding: 10px;
}

/*set the style for image container*/

.image_container {
  width: 85%;
  margin: 25px auto;
  position: relative;
}

.header_img {
  width: 90%;
  opacity: 0.6;
}

.image_fit {
  object-fit: contain;
  height: auto;
  position: relative;
  left: 5%;
  top: 0;
  /* right: 0; */
}

.logo_name {
  font-size: 24px;
  color: black;
}

/*set the style for navigation container*/

.nav_container {
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  width: 53px;
  height: 53px;
}

/*make the logo and hamburger menu responsively displayed at each side*/

.nav_bar {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.navigation.navfixed{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

/*hide the checkbox*/

.burger_checkbox {
  display: none;
}

/*set style for the button - (label) outside three line burger menu*/

.burger_btn {
  display: block;
  position: relative;
  top: 0;
  right: 0;
  width: 5rem;
  height: 3rem;
  border-radius: 5%;
  background-color: #f4c542;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
}

/*draw the three lines burger menu using pseudo element*/

.burger_icon {
  position: relative;
  margin: 22px auto 20px;
}

.burger_icon, .burger_icon::before, .burger_icon::after {
  display: inline-block;
  width: 3rem;
  height: 3px;
  background-color: #F6F6E9;
  content: '';
}

/*draw the top and bottom line based on position-absolute*/

.burger_icon::before, .burger_icon::after {
  position: absolute;
  left: 0;
  transition: all .2s;
}

.burger_icon::before {
  top: -.8rem;
}

.burger_icon::after {
  top: .8rem;
}

/*transform the burger to crossed line when clicked on the burger menu*/

.burger_checkbox:checked+.burger_btn .burger_icon {
  background: transparent;
}

.burger_checkbox:checked+.burger_btn .burger_icon::before {
  top: 0;
  transform: rotate(-45deg);
}

.burger_checkbox:checked+.burger_btn .burger_icon::after {
  top: 0;
  transform: rotate(45deg);
}

/*hide the level one menu in default*/

.navigation_list {
  display: flex;
  flex-direction: column;
  display: none;
}

.primary_menu {
  background-color: white;
}

/*select all first and second level menu*/

.navigation_list a {
  display: block;
  text-decoration: none;
  color: black;
  line-height: 48px;
  padding-left: 10px;
}

/*set style for the level one menu only*/

.navigation_list>li>a {
  font-weight: 400;
  text-transform: uppercase;
}

/*set style for the menu drop down icon*/

.navigation_dropicon {
  display: inline-flex;
  position: relative;
  transform: translate(50px, -10px);
  transform-origin: center;
  /* transition: all .3s; */
}

.navigation_dropicon::before, .navigation_dropicon::after {
  background: #323232;
  content: '';
  display: block;
  height: 8px;
  position: absolute;
  left: 2px;
  top: 3px;
  /* transition: all .3s; */
  width: 2px;
  transform-origin: bottom;
}

.navigation_dropicon::before {
  transform: rotate(45deg) translateX(-23%);
}

.navigation_dropicon::after {
  transform: rotate(-45deg) translateX(23%);
}

/*set padding for level two menu*/

.level_two_menu>li {
  padding-left: 24px;
}

.level_two_menu a {
  color: grey;
}

/*hide the level two menu in default*/

.level_two_menu {
  display: none;
}

/*show the menu when click on it*/

.show {
  display: block;
}

/*set style for call to action button link*/

.call_to_action {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #122f5b;
  line-height: 50px;
  position: relative;
  margin:30px auto;
}

.call_to_action a {
  color: #fff;
  font: bold 20px Arial;
}

/*set style for call to action button border*/

.btn_border_top, .btn_border_bottom {
  height: 5px;
  background-color: white;
  position: absolute;
  width: 0%;
}

.btn_border_top {
  right: 0;
  top: 0;
  background-color: #122f5b;
}

.call_to_action:hover .btn_border_top {
  transition: .3s;
  width: 100%;
}

.btn_border_bottom {
  left: 0;
  bottom: 0;
  background-color: #122f5b;
}

.call_to_action:hover .btn_border_bottom {
  transition: .3s;
  width: 100%;
}

.call_to_action:hover {
  background-color: white;
}

/*hover on button color change*/
.call_to_action:hover a {
  color:#122f5b;
  display: block;
  line-height: 50px;
}

.btn_group {
  width: 700px;
  display: flex;
  justify-content: space-around;
  margin: 100px 0 0 100px;
}

/*start styling for the content in home page*/
.content_container{
  display: flex;
  flex-direction: column;
}

.grid_item{
  width:400px;
  margin:10px auto;
  position: relative;
}

.content_title{
  position: relative;
  top:-10px;
  left: 10px;
}

/*when user hover on accordian title and accordianPlus*/

.accordian_tab{
  position: relative;
  cursor:pointer;
  top:0;
  left:-10px;
}

/*add style for content titles which are used to dropdown block content,
so when hover on it, it will highlight the title
reference: https://codepen.io/Lueh/pen/Ogbejq*/

.accordian_title{
  font-size: 20px;
  font-weight: bold;
  padding:5px 10px;
  display: inline-block;
  position: relative;
  cursor:pointer;
}

.accordian_title:hover::after{
  height: 50%;
}

/*highlight will start from bottom of the accordian title*/

.accordian_title::after{
  content:"";
  width:100%;
  height:0;
  position: absolute;
  left: 0;
  bottom:0;
  z-index: -1;
  background-color: orange;
  transition:all 400ms cubic-bezier(0.34,0.14,0.35,1);
}

/*position the accordianPlus icon*/
.accordianPlus{
  position:absolute;
  width:16px;
  top: 20px;
  right: 15px;
}

/*draw accordian icon*/
.accordianPlus::before,
.accordianPlus::after{
  content:" ";
  display:block;
  position:absolute;
  height:2px;
  width:100%;
  background-color:red;
  transition:transform 300ms, background-color 300ms;
}

.accordianPlus::after{
  transform:rotate(90deg);
}

/*hide accordian content in default*/
.accordian_content{
  display: none;
  padding:10px 30px;
}

.accordianActive{
  display: block;
}

/*change the color of accordian_title*/
.accordian_tab.activeEffect{
  color:red;
}

/*change accordPlus icon to minus icon*/
.accordianPlus.isActive::before,
.accordianPlus.isActive::after{
  background-color: #6f7175;
  transform:rotate(180deg);
}

/*end styling for home content*/


/*start footer styling*/
.footer{
  background-color:#211545;
}

.footer_container {
  padding:20px 10px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column {
  box-sizing: border-box;
  margin: 20px 0px 0px 30px;
}

.footer a{
  display: block;
  font-weight: bold;
}

/*footer menu title*/
.footer_menu_title {
  color:white;
  font-size: 18px;
  margin: 12px 0;
  letter-spacing: 2px;
}

/*footer submenu*/
.footer a:not(.footer_menu_title) {
  color: white;
  font-size: 16px;
  margin-bottom:5px;
}

.footer a:hover {
  border-bottom: 1px solid white;
}

/*start footer social icon style*/
.social_icon{
  height:70px;
  /*text-align: center;*/
  position: relative;
  left:10%;;
  bottom:30px;
}

/*set icon border and put in middle */
.social_icon li {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin:20px 20px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  display:inline-block;
}

.fa {
  color: white;
  transition: all 0.5s ease;
}

/* glowing effect*/

/*facebook*/
.social_icon li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.social_icon li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.social_icon li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.social_icon li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.social_icon li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

@media screen and (min-width:600px){
  /*reponsive footer with 2 columns*/
  .footer_container{
    flex-flow: row wrap;
  }

  .column{
    width:40%;
  }

}

@media screen and (min-width:900px) {
  .nav_container{
    max-width: 1000px;
  }
  /*hide the mobile menu bar in desktop version*/
  .nav_bar {
    display: none;
  }
  .primary_menu {
    width: 100%;
    padding: 5px 20px 0 20px;
  }
  /*change the flex direction*/
  .navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /*make the dropdown icon closer to menu*/
  .navigation_dropicon::before, .navigation_dropicon::after {
    left: -40px;
    top: 2px;
  }
  /*clear the menu padding*/
  .navigation_list a {
    padding: 0 25px 0 25px;
  }
  /*hover on primary_menu to see drop down menu*/
  .navigation_list>li:hover .level_two_menu {
    display: block;
  }
  .navigation_list>li:hover {
    border-bottom: 2px solid yellow;
  }
  /*clear the level two menu padding*/
  .level_two_menu>li {
    padding: 0;
  }
  .level_two_menu {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    z-index: 1;
    top: 60px;
    box-shadow: 5px 10px #484f5b;
  }

  /*4 columns in footer*/
  .column{
    width:20%;
  }
}

@media screen and (min-width:1200px){
  /*5 columns in footer*/
  .column{
    width:15%;
  }
}


.hcl {
  margin-left: auto;
  margin-right: auto;
    width: 80%;
}


.hclheadimg{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}



.mycards{
  padding-left: 10%;
}
.cardtitle  {
    color: #F6FEFF;
    height:54px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 19px;
}
  .cardtext  {
    color: #B8C0C6;
    font-size: 0.875rem;
    padding-left: 12px;
    padding-right: 12px;
  }
  .cardaction    {
    box-sizing: border-box;
    display: inline-block;
    background-color: #f9b405;
    padding: 15px;

  }

  }
  .card   {
    background: #F0F1EB;
    border-radius: 2px;
    display: inline-block;
    height: 400px;
    margin: 1rem;
    position: relative;
    width: 200px;
  }
  .card-1   {
    background: #F0F1EB;
    border-radius: 10px;
    display: inline-block;
    height: 350px;
    margin: 1rem;
    position: relative;
    width: 315px;
    float: left;

    box-shadow: 0 3px 1px rgba(66, 66, 66, 1);
    transition: .5s cubic-bezier(.0,.0,.05,1);
  }
  .card-1 h2 {
    color: black;
  }
  .card-1:hover   {

    transform: scale(1.05);
  }

  .sect {
        display: inline-block;
        padding-left: 20%;
        padding-top: 10px;
        padding-bottom: 10px;
  }

.sect p{
  padding-top: 10px;
  padding-bottom: 10px;
    }
