fieldset {
  text-align: left;
  box-sizing: border-box;
}

.option {
  display: flex;
  flex-direction: row;
}

label {
  display: block;
  margin: auto;
}

input[type="text"], input[type="email"] {}

input:focus {
  background-color: #F4F5F3;
}

input:active {
  background-color: #F4F5F3;
}

option, select, button {
  background: white;
}

fieldset {
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
}

.requestform {
  color: white;
}

.tab {
  overflow: hidden;
  text-align: center;
}

.tab button {
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;
  transition: 0.3s;
  font-size: 13px;
}

.tab button:hover {
  background-color: #A3CEF1;
}

.tab button.active {
  background-color: #A3CEF1;
}

.desc {
  display: none;
  padding: 6px 10px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

fieldset>div {
  padding-left: 10px;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

h2 {
  text-align: center;
}

p {
  padding: 8px;
}

div {
  padding-bottom: 5px;
}

label {
  display: block;
  margin: auto;
}

input:focus {
  background-color: #F4F5F3;
}

input:active {
  background-color: #F4F5F3;
}

#zip {
  max-width: 10em;
}

@media only screen and (max-width:320px) {
  .tab button {
    text-align: justify;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 8px;
    transition: 0.3s;
    font-size: 12px;
  }
  input[type="text"], input[type="email"] {
    margin: 5px;
    width: 90%;
  }
}