*|* {
  margin:0;
  padding:0;
}

ul{
  list-style-type: none;
}

body{
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.navigation{
  color:white;
  background-color: #25283D;
  border-radius: 4px;
  max-width: 320px;
  width:90%;
  margin:20px auto 0;
}

.level_one_menu{
  display: flex;
  flex-direction: column;
}

.level_one_menu a{
  display: block;
  text-decoration: none;
  color:white;
  padding-left: 10px;
  line-height: 36px;
}

.level_one_menu>li>a{
  background-color: #d6a32c;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

.level_two_menu>li{
  padding-left: 24px;
}

.level_one_menu>li>a:active{
  background-color: #ed782a;
}

.level_two_menu>li:active{
  background-color: #1934a0;
}

.level_two_menu{
  display: none;
}

.show{
  display: block;
}

@media only screen and (min-width:400px){

  .level_one_menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .level_two_menu{
    display: none;
  }

}
