*|* { margin:0pt; padding:0pt; }
body{

  color:#DC7633;
  background: #FDEBD0 ;
  padding: 0;
}
.header-container{
  width: 100%;
  text-align: center;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
}
ul li {
  float:left;
  width: 140px;
  height: 40px;
  background-color: #003488;
  opacity: 2;
  line-height: 40px;
  font-size: 15px;
}
ul li a {
  text-align: center;
  text-decoration: none;
  display: block;
}
ul li a:hover{
  cursor: pointer;
  background-color: #D5160C;
  color: #FDE00A;
}
ul li ul li{
  display:block;
}

ul li:hover ul li{
  display:block;
}
.main-Container{
  width: 100%;
  height: 1000px;
}
