<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>

    <!--start navigation-->
    <header>
      <div class="desklogo">
        <a href="index.html"><img id="logo" src="images/logo.png" width="53px" height="53px" alt="school logo"></a>
      </div>
      <section class="nav_container">
        <nav class="navigation">

          <div class="nav_bar">
            <div class="nav_logo">
              <a href="index.html"><img id="logo" src="images/logo.png" width="53px" height="53px" alt="school logo"></a>
            </div>

            <!--hamburger menu-->
            <div class="nav_burger">
              <input type="checkbox" class="burger_checkbox" id="burger-toggle">
              <label for="burger-toggle" class="burger_btn">
                <span class="burger_icon">&nbsp;</span>
              </label>
            </div>
          </div>

          <!--main navigation list-->
          <ul class="navigation_list">
            <li> <a href="index.html" class="primary_menu">Home</a></li>
            <li> <a href="about.html" class="primary_menu">About</a></li>

            <li> <a href="#" class="primary_menu dropdown">Fundraising
              <div class="navigation_dropicon"></div>
              </a>
              <ul class="level_two_menu">
                <li> <a href="corporateluncheon.html">Corporate Luncheon </a> </li>
                <li> <a href="studentCreation.html">Student Creation</a> </li>
              </ul>
            </li>

            <li> <a href="event&program.html" class="primary_menu">Events & Programs</a></li>

            <li> <a href="#" class="primary_menu dropdown">Parents Portal
              <div class="navigation_dropicon"></div>
              </a>
              <ul class="level_two_menu">
                <li> <a href="teachingteam.html">Teaching Team </a> </li>
                <li> <a href="afterschoolcare.html">After School Care</a> </li>
                <li> <a href="ptcommunication.html">Meet Our staffs </a> </li>
              </ul>
            </li>

            <li> <a href="contact.html" class="primary_menu">Contact</a></li>
          </ul>

        </nav>
      </section>

      <section class="header_info">
        <h1 class="header_description"></h1>
        <div class="header_img">
          <img src="" alt=""/>
        </div>
      </section>

    </header>

    <!--end navigation-->

    <main class="main_content">

    </main>

    <div class="social_icon">
      <ul>
        <li class="facebook"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
        <li class="twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
        <li class="instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
      </ul>
    </div>

<script src="scripts/main.js"></script>
  </body>
</html>
